.coffee-details-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coffee-details-container {
    height: fit-content;
    width: 600px;
    background-color: #F6F2EF;
    margin: 32px;
    padding: 24px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coffee-details-container img {
    width: 100%;
    border-radius: 24px;
}

.coffee-name {
    width: 100%;
    margin: 28px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coffee-name h2 {
    width: 69%;
    font-size: 28px;
    font-family: 'Lato', sans-serif;
}

.coffee-name p {
    font-size: 24px;
    font-family: 'Lato', sans-serif;
}

.coffee-details-container :nth-child(3) {
    align-self: flex-start;
    font-size: 28px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 18px;
}

.coffee-details-container :nth-child(4) {
    font-size: 24px;
    margin-bottom: 28px;
}

.addToCart-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Styling for the Quantity Box */
.quantity-container {
    color: #FF5678;
    background-color: white;
    border-radius: 24px;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    -webkit-box-shadow: 0px 0px 0px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 7px -2px rgba(0,0,0,0.75);
}

.quantity-container p {
    font-size: 32px;
    font-family: 'Lato', sans-serif;
}

.quantity-container select {
    padding: 10px;
    border: none;
    border-radius: 24px;
    color: #FF5678;
    font-size: 32px;
    cursor: pointer;
}


/* Styling for the add to cart button */
.addToCart-container button {
    width: 60%;
    padding: 10px 24px;
    border: none;
    border-radius: 24px;
    font-size: 32px;
    font-weight: 500;
    background-color: #FF5678;
    cursor: pointer;
}

.addToCart-container button :nth-child(1) {
    color: white;
    text-decoration: none;
}


/* Small Phone Display Setting */
@media screen and (max-width: 400px) {
    .coffee-details-page {
        min-height: 60vh;
    }

    .coffee-name h2 {
        font-size: 18px;
    }

    .coffee-name p {
        font-size: 14px;
    }

    .coffee-details-container :nth-child(3) {
        font-size: 18px;
    }

    .coffee-details-container :nth-child(4) {
        font-size: 14px;
    }


    .addToCart-container {
        justify-content: space-between;
    }
    /* Styling for Quantity Box */
    .quantity-container {
        padding: 0 6px;
    }

    .quantity-container p {
        font-size: 18px;
    }

    .quantity-container select {
        font-size: 18px;
    }

    /* Styling for add to cart button */
    .addToCart-container button {
        width: 45%;
        font-size: 12px;
        padding: 15px 12px;
    }
}

