/* Takes care of the whole header */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 20px 8%;
}
/* Styling for the logo of the page */
.logo {
    text-decoration: none;
    color: #FF5678;
    font-weight: 900;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}
/* Styling the links container */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 30%;
    min-width: 25%;
}

.header-links {
    color: black;
    text-decoration: none;
    font-weight: 900;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    margin-right: 15px;
}

.burger {
    display: none;
}

#menuchk {
    display: none;
}

.login-btn {
    border: none;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;

    padding: 8px 25px;
    background-color: #FF5678;
}

.login-btn :nth-child(1) {
    color: white;
    text-decoration: none;
}

.user-container {
    width: 29%;
    display: flex;
    justify-content: space-between;
}

.cart-container {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.cart {
    color: #FF5678;
    cursor: pointer;
}

.cart-items-amount {
    text-align: center;
    color: white;
    background-color: #FF5678;
    height: fit-content;
    width: 15px;
    font-size: 8px;
    border-radius: 45%;
    padding: 2px;
}

.username {
    text-decoration: none;
    color: #FF5678;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
}



/* Table Display Setting */
@media screen and (max-width: 1000px) {
    nav {
        width: 60%;
        justify-content: space-around;
    }
}


/* Small Phone Display Setting */
@media screen and (max-width: 400px) {
    .header-container {
        height: 40px;
        margin-bottom: 32px;
    }

    .login-btn {
        font-size: 12px;
        padding: 6px 20px;
    }

    .burger {
        display: block;
        color: #FF5678;
        font-size: 24px;
    }

    #menuchk:checked + nav {
        padding: 10px;
        background-color: #F6F2EF;
        border-radius: 14px;
        display: flex;
        position: absolute;
        top: 60px;
        right: 0;
    }

    nav {
        display: none;
        align-self: center;
        width: 100%;
    }

    .user-container {
        width: 35%;
    }

    .cart-container {
        width: 25%;
    }
}