.account-page {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/illustration.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: -100px -20px;

}

.account-container {
    background-color: #F6F2EF;
    width: 50%;
    padding: 32px;
    border-radius: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;

    -webkit-box-shadow: 0px 0px 0px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 7px -2px rgba(0,0,0,0.75);
}

.account-container p {
    font-size: 32px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 32px;
}

.account-container span {
    color: #FF5678;
    font-weight: 600;
}

.account-container button {
    width: 65%;
    border: none;
    border-radius: 18px;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;

    margin-bottom: 0;
    padding: 10px 25px;
    color: white;
    background-color: #FF5678;
    cursor: pointer;
}

/* Tablet Display Setting */
@media screen and (max-width: 1000px) {
    .account-container {
        width: fit-content;
    }
}

/* Phone Display Setting */
@media screen and (max-width: 600px) {
    .account-container {
        width: 75%;
    }
}

/* Small Phone Display Setting */
@media screen and (max-width: 400px) {
    .account-page {
        min-height: 60vh;
        background-position: 0px -30px;
    }

    .account-container {
        align-items: flex-start;
    }

    .account-container p {
        font-size: 20px;
        display: flex;
        flex-direction: column;
    }

    .account-container button {
        width: 75%;
        font-size: 18px;
        align-self: center;
    }
}

